:root {
    --primary: #c52f2f;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    object-fit: cover;
}

header {

    &>h1 {
        font-size: 24px;
    }

    &>ul {
        list-style: none;

        &>li:hover {
            text-decoration: underline;
        }

        & a {
            text-decoration: none;
            color: black;
        }
    }
}

button {
    border: none;
    background: var(--primary);
    color: white;
    padding: 8px 16px;
    border-radius: 9999px;
    cursor: pointer;
}

.button-white {
    border: 1px solid black;
    color: black;
    background-color: white;
}


section[id="hero"] {
    h1 {
        font-size: 40px;

        &>span {
            color: var(--primary);

        }
    }

    &>img {
        border-radius: 32px;
    }
}

.kartu-trip {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    width: 200px;
    border: 2px solid lightgray;
    margin-bottom: 8px;

    & img {
        height: 120px;
    }

    & div {
        padding: 0px 8px 16px 8px;
    }

    & .judul-trip {
        font-weight: 600;
    }

    & .harga-trip {
        font-weight: 600;
        color: var(--primary);
    }

}